/* Imported Fonts */
@font-face {
    font-family: "Fira Code";
    src: url("fonts/FiraCode-Regular.ttf");
}

@font-face {
    font-family: "Share Tech Mono";
    src: url("fonts/ShareTechMono-Regular.ttf");
}

/* Main */
body{
    font-family: "Fira Code";
    background-color: #2E0249;
    color: #F806CC;
}

::selection{
    background-color: rgb(194, 145, 11);
    color: white;
}

/* Animations */
@keyframes fadeInUp{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.heroAnimation{
    animation: 1.5s fadeInUp;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none !important;
    }

    .heroAnimation{
        animation: none;
    }
}

/* Navbar */
.navbar{
    background-color: #180127 !important;
}

.nav-link{
    margin: auto 10px;
    color: white;
}

.nav-link:hover{
    color: #F806CC;
}

/* Hero Section */
#hero-section{
    background-image: linear-gradient(rgb(15, 16, 53,.6), rgb(0, 0, 0, .4)), url("img/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding-top: 25vh;
    width: 100%;
    
}

#hero-section h1, h2{
    text-shadow: #000000 4px 1px 1px;
    padding: 10px 0;
}

#hero-section img{
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #F806CC;
}
  
#border{
    width: 40%;
    max-width: 250px;
    margin: auto;
    border-width: 5px;
    color: #F806CC;
    opacity: 1.0 !important;
    padding: 10px 0;
}

#resume{
    margin-top: 10px;
    background-color: #2E0249;
    color: #F806CC;
    border: solid, #F806CC;
}

#resume:hover{
    background-color: #F806CC;
    color: #2E0249;
    border: solid, #F806CC;
}

#resume:active{
    background-color: #2E0249;
    color: #F806CC;
    border: solid, #F806CC;
}

/* Project Section */
#project-section{
    margin: 50px 0;
    margin-bottom: 300px;
    text-align: center;
}

#project-section h1{
    margin-bottom: 50px;
}

#project-section .card-title{
    color: #F806CC;
}

.coming-soon{
    background-color: #3b035e !important;
    color: #F806CC !important;
    border: solid, 2px, #F806CC !important;
}

#publicis-buttons a{
    margin-top: 10px;
}

.project-card-div{
    margin-bottom: 50px;
}

.project-card{
    margin: 0 auto;
    background-color: #3b035e;
    color: white;
    padding: 20px;
    border: solid, #58068b;
}

.project-card .card-text{
    text-align: left;
}

.project-card a{
    background-color: #3b035e;
    color: #F806CC;
    border: solid, 2px, #F806CC;
}

.project-card a:hover{
    color: #3b035e;
    background-color: #F806CC;
    border: solid, 2px, #F806CC;
}

.project-card a:active{
    background-color: #F806CC !important;
    color: #3b035e!important;
    border: solid, 2px, #F806CC!important;
}

/* Skills Section */
#skills-section{
    margin: 300px auto;
    text-align: center;
}

#skills-section h1{
    margin-bottom: 50px;
}

.skills-div{
    margin-bottom: 50px;
}

.skills-div p{
    margin-top: 20px;
    border: solid, #58068b;
    background-color: #3b035e;
    color: white;
}

/* Certificates Section */
#awards-section{
    margin: 300px auto;
    text-align: center;
}

#awards-section h1{
    margin-bottom: 50px;
}

.award-card{
    margin: 50px auto;
    border: solid, #58068b;
    background-color: #3b035e;
}

.award-card .card-body{
    margin-top: 15px;
}

.award-card h4{
    color: white;
}

.award-card a{
    margin-top: 10px;
    background-color: #3b035e;
    color: #F806CC;
    border: solid, 2px, #F806CC;
}

.award-card a:hover{
    color: #3b035e;
    background-color: #F806CC;
    border: solid, 2px, #F806CC;
}

.award-card a:active{
    background-color: #F806CC !important;
    color: #3b035e !important;
    border: solid, 2px, #F806CC !important;
}

/* About Section */
#about-section{
    margin: 300px auto;
    text-align: center;
}

#about-section h1{
    margin-bottom: 50px;
}

#about-section p{
    text-align: left;
    color: white;
}

#about-section img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    padding-bottom: 15px;
  }

/* Contact Section */
#contact-section{
    margin-top: 300px;
    margin-bottom: 50px;
    text-align: center;
}

#contact-section h1{
    margin-bottom: 50px;
}

#contact-section i{
    font-size: 90px;
    color: white;
}

#contact-section i:hover{
    color: #F806CC;
}

#contact-section i:active{
    color: white !important;
}

/* Footer / Copyright */
#footer-section{
    background-color: #180127;
    color: white;
    padding: 5px 0;
}
  
.copyright{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}
  
/* Nav-Bar links */
#project-target{
    position: relative;
    top: -100px;
}
#skills-target, #awards-target, #about-target, #contact-target{
    position: relative;
    top: -200px;
}

/* Media Queries */
@media (orientation: portrait), (not (hover:hover)), ((max-width: 992px) and (orientation: landscape)) {
    #resume:hover{
        background-color: #2E0249;
        color: #F806CC;
        border: solid, #F806CC;
    }
    
    #resume:active{
        background-color: #F806CC;
        color: #2E0249;
        border: solid, #F806CC;
    }
    
    .nav-link:hover{
      color: white;
    }
  
    .nav-link:active{
      color: #F806CC;
    }
    
    .card a:hover{
      background-color: #3b035e;
      color: #F806CC;
      border-color: #F806CC;
    }
  
    .card a:active{
      color: #3b035e !important;
      background-color: #F806CC !important;
      border-color: #F806CC !important;
    }
  
    #contact-section i:hover{
      color: white !important;
    }
  
    #contact-section i:active{
      color: #F806CC !important;
    }
  }